.board-switcher {
    width: 100%;
    height: 40px;
    display: flex;
    flex: none;
    text-align: center;
    align-items: center;
    background-color: #ececec;
}

.board-switcher .board-list {
    flex-grow: 1;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.board-switcher .board-list .board-shortcut {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    margin: 4px;
    background-color: #aaa;
    flex: none;
}

.board-switcher .board-list .board-shortcut.active {
    animation: activeBoardShortcut 2s ease 0s infinite alternate;

}

.board-switcher .board-list .board-shortcut.solved {
    background-color: #5cc259;
}

.board-switcher .previous-button, .board-switcher .next-button {
    flex: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

@keyframes activeBoardShortcut {
    from {
        filter: brightness(0.95);
    }

    to {
        filter: brightness(0.75);
    }
}
